<div class="navbar">
    <div class="container flex jcsb ai-center">
        <h1>
        <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
            alt="logo"
        />
        </h1>
        <ul class="flex nav">
        <li><a href="glasses.html">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
        </ul>
    </div>
</div>