@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');
  
.footer {
  background: $primary;
  padding-top: 32px;
  @include mobile {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    position: relative;
    padding-top: 24px;
  }
  &-navbar {
    margin-bottom: 36px;
    @include pad {
      margin-bottom: 30px;
    }
    .footer-nav {
      @include mobile {
        display: none;
      }
      a {
        color: $white;
        vertical-align: middle;
        margin-right: 48px;
        &:hover {
          color: darken($white, 20%);
        }
      }
    }
    .footer-icon {
      vertical-align: middle;
      @include mobile {
        position: absolute;
        right: 14px;
        top: 24px;
      }
      img {
        width: 48px;
        height: 48px;
        margin-left: 32px;
        @include pad {
          width: 40px;
          height: 40px;
          margin-left: 16px;
        }
        @include mobile {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  &-contact {
    @include mobile {
      order: 1;
    }
    align-items: flex-start;
    .border-bottom {
      border-bottom: 1px solid #fff;
      padding-bottom: 32px;
      @include mobile {
        padding-bottom: 24px;
      }
    }
    &-section {
      margin-bottom: 0px;
      &:first-child {
        margin-bottom: 8px;
      }
      @include mobile {
        width: 100%;
      }
      a {
        color: $white;
        font-size: 36px;
        @include mobile {
          font-size: 16px;
        }
      }
      i {
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-right: 20px;
        @include mobile {
        margin-right: 11px;
        }
      }
    }
    .copyright {
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
      &-section {
        color: $white;
        padding: 32px 0px 40px 0px;
        @include mobile {
          padding: 16px 0px 8px 0px;
        }
      }
      &-clause {
        @include mobile {
          flex-direction: column;
        }
        margin: 32px 0;
        @include mobile {
          margin: 0px 0px 24px 0px;
        }
        a {
          margin-left: 48px;
          color: $white;
          @include mobile {
            margin: 8px 0px;
          }
        }
      }
    }
  }
}