.banner {
  background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true');
  background-size: cover;
  text-align: right;
  color: $secondary;
  padding: 296px 0px;
  @include pad {
  background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true');
  background-size: cover;
  object-fit: cover;
  }
  p {
    @include mobile {
      font-size: 16px;
    }
  }
  h2 {
    font-weight: bold;
    margin-bottom: 4px;
    @include mobile {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
  button {
    background: $primary;
    color: $white;
    border: 0;
    padding: 6px 12px;
    cursor: pointer;
    &:hover {
      background: darken($primary, 10%);
    }
  }
}

// about
.about {
  background: $white;
  padding: 80px 0px;
  h2 {
    text-align: center;
    color: $secondary;
    margin-bottom: 24px;
  }
  ul {
    @include pad {
      flex-wrap: wrap;
    }
    @include mobile {
      justify-content: center
    }
    li {
      width: 24%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include pad {
        width: 49%;
      }
      @include mobile {
        width: 90%;
        margin-bottom: 24px;
      }
      img {
        display: block;
        text-align: center;
        width: 100px;
        margin-bottom: 24px;
      }
      h3 {
        color: $secondary;
        text-align: center;
        font-weight: bold;
        margin-bottom: 8px;
        @include mobile {
          font-size: 24px;
        }
      }
      p {
        text-align: left;
      }
    }
  }
}

// classic-glasses
.classic-glasses {
  padding: 80px 0;
  h2 {
    color: $secondary;
    text-align: center;
    margin-bottom: 48px;
    font-weight: bold;
  }
  ul {
    @include pad {
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      width: 32%;
      @include pad {
        width: 51%;
      }
      @include mobile {
        width: 100%;
      }
      p {
        color: $primary;
        font-size: 48px;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-style: italic;
        @include pad {
          margin-bottom: 24px;
        }
      }
    }
  }
}

// co-design
.co-design {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true');
  background-size: cover;
  padding: 80px 0;
  @include pad {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true');
  }
  h2 {
    color: $white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
  }
  ul {
    flex-wrap: wrap;
    li {
      @include pad {
        margin-bottom: 24px;
      }
    }
    p {
      color: $primary;
      font-size: 48px;
      background: #fff;
      text-align: center;
      font-weight: 900;
      font-style: italic;
      padding: 8px 0px;
    }
    .design1 {
      background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true');
      background-size: cover;
    }
    .design2 {
      background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true');
      background-size: cover;
    }
  }
}

// recommend
.recommend {
  padding: 80px 0;
  background-color: #fff;
  h2 {
    color: $secondary;
    text-align: center;
    font-weight: bold;
    margin-bottom: 48px;
  }
  ul {
    flex-grow: 1;
    @include pad {
      flex-wrap: wrap;
    }
    li {
      margin-right: 24px;
      box-shadow: 0px 2px 6px #00000029;
      border: 1px solid #dee2e6;
      @include pad {
        width: calc(50% - 24px);
        margin-bottom: 24px;
      }
      @include mobile {
      margin-right: 0px;
      width: 100%;
      }
      img {
        object-fit: cover;
      }
      .comment {
        padding: 16px;
        height: 205px;
      }
      h3 {
        // flex-grow: 1;
        margin-bottom: 8px;
        font-weight: medium;
      }
      p {
        flex-grow: 1;
      }
      span {
        // flex-grow: 1;
        font-size: 14px;
        color: #707070;
      }
    }
  }
}

//contact-us
.bg-w {
  background-color: $white;
  padding-top: 80px;
  padding-bottom: 80px;
  .index-contact {
    width: 50%;
    margin: 0 auto;
    @include pad {
      width: 75%;
    }
    @include mobile {
      width: 100%;
    }
  }
  h2 {
    margin-bottom: 48px;
    color: $secondary;
    text-align: center;
  }
  p {
    margin-bottom: 24px;
  }
  li {
    p {
      margin-bottom: 8px;
    }
    input, textarea {
      width: 100%;
      margin-bottom: 16px;
      resize: none;
      padding: 6px 12px 6px 12px;
      border: 1px solid #000000;
    }
  }
  label {
    margin-bottom: 48px;
  }
  button {
    background-color: $primary;
    color: #FFF;
    border:0;
    width: 50%;
    text-align: center;
    padding: 16px;
    margin: 0 auto;
    &:hover {
      background-color: darken($color: $primary, $amount: 10%);
    }
    @include mobile {
      width: 100%;
      font-size: 24px;
    }
  }
}