// menu-active
.menutaggle .active {
    border: 1px solid #DCDCDC;
    border-bottom:3px solid $primary ;
    @include mobile {
        border-bottom:8px solid $primary ;
    }
}

// menutaggle
.menutaggle {
    .container {
        @include pad {
            margin: 0;
            padding: 0;
        }
    }
    li{
        padding: 24px 0px;
        width: 33.99999999%;
        border: 1px solid #DCDCDC;
        text-align: center;
        @include pad {
            padding: 16px 0px;
        }
    }
    a {
        color:#000;
        font-weight: 500;
        @include pad {
            font-size: 24px;
        }
        @include mobile {
            font-size: 16px;
        }
    }
}

// optical
.optical-pic {
    @include pad {
        padding: 0;
    }
    .optical-pic1 {
        background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true');
        object-fit: cover;
        background-size:cover;
        background-position: center;
        height: 296px;
        width: calc(50% - 24px);
        @include pad {
        background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true');
        width: 50%;
        background-size: cover;
        @include mobile {
            height: 136px;
        }
        }
    }
    .optical-pic2 {
        background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=truehttps://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true');
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 296px;
        width: calc(50% - 24px);
        @include pad {
            // background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true');
            width: 50%;
        }
        @include mobile {
            background: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true');
            height: 136px;
            background-size: cover;
        }
    }
}

.optical-store {
    .optical-text {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 32px; 
        @include mobile {
            font-size: 24px;
        }
    }
    ul {
        flex-wrap: wrap; 
        li {
        width: 24%;
        margin-bottom: 80px;
        @include pad {
            width: 49%;
        }
        @include mobile {
            width: 100%;
        }
        p {
            color:$secondary;
            font-weight: 500;
        }
        .color-1 {
            display: inline-block;
            height: 24px;
            width: 24px;
            background: #5F3E2D;
            border-radius: 4px;
            margin-right: 8px;
        }
        .color-2 {
            display: inline-block;
            height: 24px;
            width: 24px;
            background: #B75929;
            border-radius: 4px;
        }
        }
    }
}

.pagination {
    margin-bottom: 80px;
    ul {
        vertical-align: middle;
        justify-content: center;
        li {
            display: block;
            text-align: center;
        }
        a {
            padding: 12px 16px ;
            color:#000;
            border: 1px solid #555555;
            &:hover, :active {
                color:#fff;
                background: #000;
            }
            @include mobile {
            padding: 12px 15px ;
            }
        }
    }
    
}