<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>切版直播第四週-系列框架</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- menutaggle -->
    <div class="menutaggle">
      <div class="container">
        <ul class="flex jcsb">
          <li class="active"><a href="#" class="fz-32">OPTICAL</a></li>
          <li><a href="#" class="fz-32">SUNGLASS</a></li>
          <li><a href="#" class="fz-32">FUNCTIONAL</a></li>
        </ul>
      </div>
    </div>
    <!-- optical  -->
    <div class="optical ">
      <div class="optical-pic flex">
        <div class="optical-pic1"></div>
        <div class="optical-pic2"></div>
      </div>
      <!-- optical-glasses-text -->
      <div class="optical-store">
        <div class="container">
          <div class="optical-text">
            <h2 class="fz-42">Celluloid Combi</h2>
            <h3 class="fz-32">賽璐珞鈦金屬混合鏡框</h3>
          </div>
          <!-- optical-store card -->
          <div class="optical-card">
            <ul class="flex jcsb">
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="product1">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="product2">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="product3">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="product4">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="product1">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="product2">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="product3">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="product4">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="product1">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="product2">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="product3">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
              <li>
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="product4">
                <div class="flex jcsb">
                  <h3 class="fz-24">BJ41600S</h3>
                  <p class="fz-24">NTD3,490</p>
                </div>
                <span class="color-1"></span><span class="color-2"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- sunglass -->
    
      <!-- pagination -->
    <div class="pagination">
      <div class="container">
        <ul class="page flex">
          <li class="pre-post"><a href="#" class="fz-18">上一頁</a></li>
          <li><a href="#" class="fz-18">1</a></li>
          <li><a href="#" class="fz-18">2</a></li>
          <li><a href="#" class="fz-18">3</a></li>
          <li><a href="#" class="fz-18">4</a></li>
          <li><a href="#" class="fz-18">5</a></li>
          <li class="pre-post"><a href="#" class="fz-18">下一頁</a></li>
        </ul>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
