<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>切版直播第四週</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container">
        <p class="fz-36">Promise-Desert 2020 早春系列</p>
        <h2 class="fz-64">看得清，才能看得遠</h2>
        <button type="button" class="fz-20">立即購買</button>
      </div>
    </div>
    <!-- about -->
    <div class="about">
      <div class="container">
        <h2 class="fz-48">用專業的心，做專業的事</h2>
        <ul class="flex jcsb">
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true"
              alt="about-price"
            />
            <h3>單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true"
              alt="about-time"
            />
            <h3>20 分鐘即可取件</h3>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。
            </p>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true"
              alt="about-service"
            />
            <h3>安心售後服務</h3>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true"
              alt="about-glasses"
            />
            <h3>關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- classic-glasses -->
    <div class="classic-glasses">
      <div class="container">
        <h2 class="fz-48">經典系列鏡框</h2>
        <ul class="flex jcsb">
          <li>
            <a href="#"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
                alt="glasses1"
              />
              <p>OPTICAL</p></a
            >
          </li>
          <li>
            <a href="#"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
                alt="glasses2"
              />
              <p>SUNGLASSES</p></a
            >
          </li>
          <li>
            <a href="#"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
                alt="glasses3"
              />
              <p>FUNCTIONAL</p></a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- 聯名設計鏡框 co-design -->
    <div class="co-design">
      <div class="container">
        <h2 class="fz-48">聯名設計鏡框</h2>
        <ul class="flex">
          <li>
            <a href="#">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true"
                alt="design1"
              />
              <div class="design1"></div>
              <p>DOUBLE A+</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true"
                alt="design2"
              />
              <div class="design2"></div>
              <p>YOUTH</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- recommend -->
    <div class="recommend">
      <div class="container">
        <h2 class="fz-48">顧客推薦</h2>
        <ul class="flex jcsb">
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
              alt="card-1"
            />
            <div class="comment flex jcsb flex-col ai-start">
              <h3>Jessy</h3>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              <span>2021/06/20</span>
            </div>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
              alt="card-1"
            />
            <div class="comment flex jcsb flex-col ai-start">
              <h3>凱倫</h3>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              <span>2021/04/18</span>
            </div>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
              alt="card-1"
            />
            <div class="comment flex jcsb flex-col ai-start">
              <h3>悠悠</h3>
              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              <span>2020/12/25</span>
            </div>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
              alt="card-1"
            />
            <div class="comment flex jcsb flex-col ai-start">
              <h3>Kyuan</h3>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              <span>2020/10/31</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
<!-- contact-us -->
    <div class="bg-w">
      <div class="container">
        <div class="index-contact flex flex-col">
          <h2 class="fz-48">聯絡我們</h2>
          <p class="fz-20">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <ul>
            <li>
              <p>姓名</p>
              <input type="text" placeholder="王小明"/>
            </li>
            <li>
              <p>姓名</p>
              <input type="text" placeholder="0912-345-678">
            </li>
            <li>
              <p>電子郵件</p>
              <input type="text" placeholder="example@gmail.com">
            </li>
            <li>
              <p>意見反應</p>
              <textarea name="" id="" cols="30" rows="10" placeholder="輸入您的寶貴意見"></textarea>
            </li>
          </ul>
          <label>
            <input type="checkbox">
            <span>我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</span>
          </label>
          <button type="submit">確認送出</button>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
